@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
html{
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f; 
  color: #e0e0e0; 
}
a {
  text-decoration: none;
  color:#fff;
  display: none;
}
a:active {
  color:#bcf3d4;
}
a:visited {
  color: #fff;
}
a:focus{
  outline: 1px solid #2eed57;
}

h1 {
  color: #fff; 
  text-align: center;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333; 
  color: #fff;
}
#cryptoInput {
  max-width: 578px;

}
#cryptoInput:focus {
  outline: 1px solid #45a049;

}
input[type="number"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff; 
}

/* removes the annoying arrows on input*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

#cryptoDayInput {
  max-width: 578px;

}
#cryptoDayInput:focus {
  outline: 1px solid #45a049;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:focus{
  outline: 1px solid #4caf50;
  background-color: #259728;
}
button:blur{
  outline: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container {
  width: 600px; 
  margin: auto auto; 
  padding: 20px;
  background-color: #2c2e3f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.section-container {
  height: 100vh;
  display: flex; 
}
  
.logo{
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

#clock-container{
  height: 36px;
  width: 25%;
  background: #1F1F1F ;
  color: #ffffff8e;
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}
#clock-container:hover{
  background:#2c2e3f ;
  color: #ffffffd5;
}
  #priceTrendContainer { 
    width: 96.4%;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px 4px 0 0 ;
    background-color: #333; 
    color: #fff;
    border-bottom: .5px solid #ffffff;
  }
  #priceResult {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }
  #priceChart{
    width: 100%;
    height: 400px;
  }

  .coin-price-marquee { 
    margin-top: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }
