@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f; /* Dark background color */
  color: #e0e0e0; /* Light text color */
  overflow: hidden;
}
a {
  text-decoration: none;
  color:#fff;
  display: none;
}
a:active {
  color:#bcf3d4;
}
a:visited {
  color: #fff;
}
a:focus{
  outline: 1px solid #2eed57;
}

h1 {
  color: #fff; /* White heading text color */
  text-align: center;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333; /* Dark input background color */
  color: #fff; /* Light text color */
}
#cryptoInput {
  max-width: 578px;

}
#cryptoInput:focus {
  outline: 1px solid #45a049;

}
input[type="number"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333; /* Dark input background color */
  color: #fff; /* Light text color */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

#cryptoDayInput {
  max-width: 578px;

}
#cryptoDayInput:focus {
  outline: 1px solid #45a049;

}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50; /* Green button background color */
  color: #fff; /* White text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:focus{
  outline: 1px solid #4caf50;
}
button:blur{
  outline: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container {
  width: 600px; /* Set the width to 100% */
  margin: auto auto; /* Center the container */
  padding: 20px;
  background-color: #2c2e3f; /* Dark container background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 600px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-container {
  height: 100vh;
  overflow-y: scroll;
  display: flex; /* Add this */
  scroll-snap-stop:normal; /* Add this */
}
  
.logo{
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

#clock-container{
  height: 36px;
  width: 25%;
  background: #1F1F1F ;
  border-radius: 1%;
  color: #ffffff8e;
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.29);
}
#clock-container:hover{
  background:#2c2e3f ;
  color: #ffffffd5;
}

  #priceTrendContainer { 
    width: 96.4%;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px 4px 0 0 ;
    background-color: #333; /* Dark result box background color */
    color: #fff; /* Light text color */
    border-bottom: .5px solid #ffffff;
  }
  #priceResult {
    margin-right: 10px; /* Add some space between priceResult and trendAnalysis */
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }
  #priceChart{
    width: 100%;
    height: 400px;
  }
  


  
  
  .coin-price-marquee { 
    margin-top: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  .google-visualization-title {
    font-size: 16px; /* Adjust the font size as needed */
  }
